{# empty Twig template #}
{% extends "master.html.twig" %}
{% block title %}Contact Us{% endblock %}
{% block content %}


    <div class="inside-banner">
        <h2 style="margin-left: 80px;">To Contact Us Please LOGIN</h2>

    </div>
    <!-- banner -->
    {% if errorList %}
        <div style="margin-left: 370px;margin-top: 50px;">
            <ul class="errorList" style="font-weight: bolder;color: red;">
                {% for error in errorList %}
                    <li >{{ error }}</li>
                    {% endfor %}
            </ul>
        </div>

    {% endif %}

    <div class="container">
        <div class="spacer">
            <div class="row contact">
                <div class="col-lg-6 col-sm-6 ">
                    <form id="" class="form-horizontal" role="form" method="post">

                        <input type="text" name="fullName" class="form-control" placeholder="Full Name" value="{{v.fullName}}">
                        <input type="text" name="email" class="form-control" placeholder="Email Address" value="{{v.email}}">
                        <input type="text" name="phoneNumber" class="form-control" placeholder="Contact Number" value="{{v.phoneNumber}}">
                        <textarea rows="6" name="message" class="form-control" placeholder="Message">{{v.message}}</textarea>
                        <input type="submit" class="btn btn-success" name="Submit" value="Send Message"/>


                    </form>

                </div>


                <div class="col-lg-6 col-sm-6 ">
                    <div class="well"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Pulchowk,+Patan,+Central+Region,+Nepal&amp;aq=0&amp;oq=pulch&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Pulchowk,+Patan+Dhoka,+Patan,+Bagmati,+Central+Region,+Nepal&amp;ll=27.678236,85.316853&amp;spn=0.001347,0.002642&amp;t=m&amp;z=14&amp;output=embed"></iframe></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}