{% extends "master.html.twig" %}

{% block title %}Add Image{% endblock %}

{% block content %}

    {% if errorList %}
        <ul class="errorList">
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}



    <div class="container">  
        <div id="signupbox" style="margin-left:240px;margin-top: 50px;margin-bottom: 50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">The house Id is {{id}}</div>

                </div>  
                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>


                        <form id="signupform" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                      
                            <div class="col-md-9" enctype="multipart/form-data">
                                <label for="image" class="col-md-9 control-label"><h4>This property had image files</h4></label>
                                <div class="form-group">
                                    {% for i in images %}
                                        <table> <tr> <td> <img width= "300" src="/{{i.imagePath}}"/>  </td>
                                                  <td><a href="/image/edit/{{i.id}}">    Replace</a><br><br>
                                                    <a href="/image/delete/{{i.id}}">    Delete</a><br><br>
                                                </td>
                                            </tr></table>
                                        {% endfor %}
                                </div>
                                
                                <form method="post" enctype="multipart/form-data">
                                     <input type="file" name="file" multiple>

                                        <img width="300" id="myImg" src="#" alt="your image" />
                                        <script>
                                            $(function () {
                                                $(":file").change(function () {
                                                    if (this.files && this.files[0]) {
                                                        var reader = new FileReader();
                                                        reader.onload = imageIsLoaded;
                                                        reader.readAsDataURL(this.files[0]);
                                                    }
                                                });
                                            });
                                            function imageIsLoaded(e) {
                                                $('#myImg').attr('src', e.target.result);
                                            }
                                            ;
                                        </script>
                                    <div class="form-group">          
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit"  value="Add Image">
                                        </div>
                                    </div>
                                </form>
                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                    </div>  
                                </div>
                        </form>
                </div>
            </div>

        </div> 
    </div>


{% endblock content %}

