
{% extends "master.html.twig" %}

{% block title %} Property list{% endblock %}

{% block content %}

    <div class="inside-banner">
        <div class="container"> 
            <span class="pull-right"><a href="/index">Home</a> / Buy, Sale & Rent</span>
            <h2>Buy, Sale & Rent</h2>
        </div>
    </div>
    <!-- banner -->
    <div class="container">
        <div class="properties-listing spacer">
            <div class="row">
                <div class="col-lg-3 col-sm-4 ">
                    <div class="search-form"><h4><span class="glyphicon glyphicon-search"></span> Search for</h4>
                        <form id="signupform" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

                            <input type="text" class="form-control" name="search" placeholder="Search of Properties">
                            <div class="row">
                                <div class="col-lg-9">
                                    <select class="form-control" name="numberOfBedroom">
                                        <option>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4 or more</option>
                                    </select>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-control" name="price">
                                        <option>Price</option>
                                        <option>$150000 or less</option>
                                        <option>$150000 - $250000</option>
                                        <option>$250000 - $350000</option>
                                        <option>$350000 - $500000</option>
                                        <option>$500000 or above</option>
                                        <option>any</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-9">
                                    <select class="form-control" name="propertyType">
                                        <option>Type</option>
                                        <option>Condo</option>
                                        <option>Semi-detached</option>
                                        <option>Detached</option>
                                        <option>Townhouse</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                            </div>
                            <input type="submit" href="/list" class="btn btn-primary" value="Find Now"></input>
                    </div>
                    </form>
                    <div class="hot-properties hidden-xs">
                        <h4>Hot Properties</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-sm-8">
                    <div class="sortby clearfix">
                        <div class="pull-left result"><h4>You have following properties on List</h4></div>
                        <div class="pull-right">
                            <select class="form-control">
                                <option>Sort by</option>
                                <option>Price: Low to High</option>
                                <option>Price: High to Low</option>
                            </select></div>

                    </div>
                    <div class="row">
                        <table class="table"   class="table-responsive" class="table-bordered">
                            <tr style="font-size: 16px;background-color: lightgrey;"><th>Pictures</th><th>City</th><th>Bedroom</th><th>Price</th><th>Address</th><th>Year</th><th></th></tr>

                            {% for h in houseList %}
                                <tr style="font-size:17px;margin-top: 40px ">
                                    <td><a href="/property/{{h.id}}"><img height="200" width="200" href="/property" src="/{{h.imagePath}}"></a></td>
                                    <td style="align-content: center">{{h.city}} </td>
                                    <td>{{h.numberOfBedroom}}   </td>
                                    <td> ${{h.Price}}   </td>
                                    <td>{{h.address}}    </td>
                                    <td>{{h.yearOfBuild}}</td>
                                    <td><a href="/house/edit/{{h.id}}" value="">Information Update<br><br> </a>
                                        <a href="/image/edit/{{h.id}}" value="" >Image Update<br><br></a>
                                        <a href="/house/delete/{{h.id}}" value="" >Remove </a>

                                    </td>   
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}



